<div id="claim-business-page">
    <div class="container">
        <div class="row">
            <h3>CLAIM YOUR BUSINESS</h3>
            <div class="col-sm-offset-1 col-sm-10 col-md-offset-0 col-md-6 col-md-push-6 margin-bottom-sm">
                <p class="description">To claim a business here on Vendor on a Dime please fill out the form with your name and email and select the business you would like to claim. Once we have reviewed your request we will call you at the number listed for the business.</p>
                <p class="description">If the information listed below is incorrect or your business does not appear in the Unclaimed Businesses list please
                    <a href="/contact">Contact Us</a>.</p>
            </div>
            <div class="col-md-6 col-md-pull-6">
                <div class="row">
                    <div class="col-sm-4">
                        <label for="cbfname">First Name</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="cbfname" id="cbfname" placeholder="First Name" data-required="1">
                    </div>
                    <div class="col-sm-4">
                        <label for="cblname">Last Name</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="text" name="cblname" id="cblname" placeholder="Last Name" data-required="1">
                    </div>
                    <div class="col-sm-4">
                        <label for="cbemailadd">Email Address</label>
                    </div>
                    <div class="col-sm-8">
                        <input type="email" name="cbemailadd" id="cbemailadd" placeholder="Email" data-required="1">
                    </div>
                    <div class="col-sm-4">
                        <label for="business-list">Unclaimed Businesses</label>
                    </div>
                    <div class="col-sm-8">
                        <select class="chosen" id="business-list" name="business-list">
                            <option value="Select One">Select One</option>
                            {{#each free}}
                                <option value="{{this.vendor_id}}">{{this.vendor_name}}</option>
                            {{/each}}
                        </select>
                    </div>

                </div>
            </div>
            <div class="col-sm-offset-4 col-sm-4">
                <div id="businessContact">
                    <h4>Review of Business Contact Information</h4>
                    <p class="description">Please review the information below before submitting your request.</p>
                    <p class="title">Business Name</p>
                    <p id="name" class="businessInfo"></p>
                    <p class="title">Business Phone #</p>
                    <p id="phone" class="businessInfo"></p>
                    <p class="title">Business Address</p>
                    <p id="address1" class="businessInfo"></p>
                    <p id="address2" class="businessInfo"></p>
                    <input type="hidden" id="userName" name="userName" value="{{user.username}}">
                    <input type="hidden" id="userFullName" name="userFullName" value="{{user.name}}">
                    <input type="hidden" id="userID" name="userID" value="{{user.user_id}}">
                    <input type="hidden" id="businessName" name="businessName" value="" disabled>
                    <input type="hidden" id="businessPhone" name="businessPhone" value="" disabled>
                    <input type="hidden" id="businessAdd1" name="businessAdd1" value="" disabled>
                    <input type="hidden" id="businessAdd2" name="businessAdd2" value="" disabled>
                </div>
                <input type="hidden" name="username" value="">
                <input type="email" name="email" id="email" placeholder="Email">
                <input type="submit" class="button-light" id="claim-business-submit">
                <span id="context"></span>
            </div>
        </div>
    </div>
</div>