
{{#if featured}}
<div id="featured-vendor">
    <h3>FEATURED VENDORS</h3>

    <div class="featured-carousel mobile-carousel">
        {{#each featured}}
            <div class="featured-box">
                <div class="feat-img" style="background-image: url(/{{this.featured_image}})">
                    {{#if ../user}}
                        <img src="/images/heart-fill.png" class="favorite-heart fill {{#if this.favorite}}favorited{{/if}}" data-vendor="{{this.vendor_id}}" alt="Click to favorite this vendor.">
                        <img src="/images/heart-outline.png" class="favorite-heart outline" alt="">
                    {{/if}}
                </div>
                <div class="desc-box">
                    <div class="vend-title">
                        <h2>{{this.vendor_name}}</h2>
                        <p class="vend-cat">{{this.category}}</p>
                    </div>
                    <div class="vend-details">
                        <div class="vend-metric hidden-sm hidden-md hidden-lg hidden-xl">
                            <div class="priceRating">
                            <p class="vend-price">
                                {{#if this.price}}
                                    {{this.price}}
                                {{else}}
                                    <p>Not priced.</p>
                                {{/if}}
                                </p>
                            <p class="reviewRating" >
                                {{#if this.rating}}
                                    {{this.rating}}</p>
                                    <p class="reviewCount"> (

                                        {{#if this.ratingCount}}
                                            {{this.ratingCount}}
                                        {{else}}
                                            1
                                        {{/if}})</p>
                                {{else}}
                                    Not rated.</p>
                                {{/if}}
                            </div>
                            <a class="vend-view" href="/vendor/{{this.vendor_url}}/">View</a>
                        </div>
                        <div class="vend-info">
                            <span>Address: </span>
                            <p class="vend-add">{{this.address}}, {{this.address_2}}
                                <br>{{this.city}}, {{this.province}} {{this.postal_code}}</p>
                            <span>Phone: </span>
                            <p class="vend-phone">{{this.phone_number}}</p>
                        </div>
                        <div class="overflow-box hidden-xs">
                            <p class="vend-desc">{{this.description}}</p>
                        </div>
                    </div>

                    <div class="desc-box-bottom hidden-xs">
                        <div class="priceRating">
                            <p class="vend-price">
                                {{#if this.price}}
                                    {{this.price}}
                                {{else}}
                                    <p>Not priced.</p>
                                {{/if}}
                                </p>
                            <p class="reviewRating" >
                                {{#if this.rating}}
                                    {{this.rating}}</p>
                                    <p class="reviewCount"> (

                                        {{#if this.ratingCount}}
                                            {{this.ratingCount}} reviews
                                        {{else}}
                                            1 review
                                        {{/if}})</p>
                                {{else}}
                                    Not rated.</p>
                                {{/if}}
                        </div>
                        <a class="vend-view" href="/vendor/{{this.vendor_url}}/">View</a>
                    </div>
                </div>
            </div>
        {{/each}}
    </div>
</div>
{{/if}}

<div id="vendors-list">
    <div id="vendor-list-header">
        <div class="container">
            <div class="vend-list-title">
                <h3>VENDOR LIST</h3>
            </div>
            <div class="filters">
                <div class="row">
                    <div class="col-sm-6 col-md-3">
                        <div class="filter">
                            <label for="search">Keyword Search</label>
                            <input class="search search-filter">
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-push-6">
                        <div class="filter price-filter">
                            <label for="price">Price</label>
                            <div class="price-checkboxes">
                                <input class="price-checkbox" type="checkbox" name="price" id="oneDollar" data-value="$">
                                <label class="price-label one-dollar" for="oneDollar">$</label>
                                <input class="price-checkbox" type="checkbox" name="price" id="twoDollar" data-value="$$">
                                <label class="price-label two-dollar" for="twoDollar">$$</label>
                                <input class="price-checkbox" type="checkbox" name="price" id="threeDollar" data-value="$$$">
                                <label class="price-label three-dollar" for="threeDollar">$$$</label>
                                <input class="price-checkbox" type="checkbox" name="price" id="fourDollar" data-value="$$$$">
                                <label class="price-label four-dollar" for="fourDollar">$$$$</label>
                                <button class="sort" data-sort="vendPrice">Sort</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-pull-3">
                        <div class="filter">
                            <label for="categoryselect">Category</label>
                            <select class="select-filter cat-s chosen" id="category-search" name="categoryselect">
                                    <option value="All">All</option>
                                {{#each categories}}
                                    <option value="{{this.category_name}}">{{this.category_name}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-6 col-md-3 col-md-pull-3">
                        <div class="filter">
                            <label for="cityselect">Location</label>
                            <select class="select-filter city-s chosen" id="city-search" name="cityselect">
                                <option value="All">All</option>
                                {{#each city}}
                                    <option value="{{this.city}}">{{this.city}}</option>
                                {{/each}}
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8">
                <div id="no-vendors">
                    <h4>We're sorry, but there are no vendors matching your search criteria. Please try another search.</h4>
                </div>
            </div>
        </div>
            <div id="vendor-list">
                <ul class="paginationTop"></ul>
                <div class="row">
                    <div class="list">
                        {{#each vendor}}
                            <div class="vendor">
                                <div class="col-sm-6">
                                    <div class="box">
                                        <div class="feat-img" style="background-image: url(/{{this.featured_image}})">
                                            {{#if this.is_featured}}
                                                <div class="ribbon-wrapper-home"><div class="ribbon-home">FEATURED</div></div>
                                            {{/if}}
                                            {{#if ../user}}
                                                <img src="/images/heart-fill.png" class="favorite-heart fill {{#if this.favorite}}favorited{{/if}}" data-vendor="{{this.vendor_id}}" alt="Click to favorite this vendor.">
                                                <img src="/images/heart-outline.png" class="favorite-heart outline" alt="">
                                            {{/if}}
                                        </div>
                                        <div class="desc-box">
                                            <div class="desc-box-lining">
                                                <h2 class="vendName">{{this.vendor_name}}</h2>
                                                <p class="vendCat">{{this.category}}</p>
                                                <p class="vendAdd">{{this.address}}, {{this.address_2}}</p>
                                                <p class="vendCity">{{this.city}},</p>
                                                <p class="vendAdd2" >{{this.province}} {{this.postal_code}}</p>
                                                <p class="vendTags">{{this.tags}}</p>
                                                <div class="desc-box-bottom">
                                                    <div class="priceRating">

                                                            {{#if this.price}}
                                                                <p class="vendPrice">{{this.price}}</p>
                                                            {{else}}
                                                                <p class="vendNoPrice">Not priced.</p>
                                                            {{/if}}
                                                    <p class="reviewRating" >
                                                        {{#if this.rating}}
                                                            {{this.rating}}</p>
                                                            <p class="reviewCount"> (

                                                                {{#if this.ratingCount}}
                                                                    {{this.ratingCount}}
                                                                {{else}}
                                                                    1
                                                                {{/if}})</p>
                                                        {{else}}
                                                            Not rated.</p>
                                                        {{/if}}
                                                    </div>

                                                    <a class="vend-view" href="/vendor/{{this.vendor_url}}/">View</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        {{/each}}
                    </div>
                </div>
                <ul class="paginationBottom"></ul>
        </div>
    </div>
</div>



