<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>

    <!--All CSS Includes-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/chosen.css' />
    <link rel='stylesheet' href='/stylesheets/ekko-lightbox.min.css' />
      <link rel='stylesheet' href='/stylesheets/jquery.rateyo.min.css' />
    <link rel='stylesheet' href='/stylesheets/slick.css' />
    <link href="https://file.myfontastic.com/n6vo44Re5QaWo8oCKShBs7/icons.css" rel="stylesheet">

    <!--All JS Includes-->
    <script src = "/javascripts/bundle.js" ></script>
    <script src = "/javascripts/chosen.jquery.min.js" ></script>
    <script src="/javascripts/imagesloaded.pkgd.min.js" type="text/javascript"></script>
    <script src="/javascripts/ekko-lightbox.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.rateyo.min.js" type="text/javascript"></script>
    <script src="/javascripts/masonry.pkgd.min.js" type="text/javascript"></script>
    <script src="/javascripts/jquery.dotdotdot.min.js" type="text/javascript"></script>
    <script src="/javascripts/slick.min.js" type="text/javascript"></script>
    <script src="/javascripts/list.min.js" type="text/javascript"></script>
    <script src="/javascripts/list.pagination.min.js" type="text/javascript"></script>

  </head>

  <body>

      <!--<div id="wrapper">-->

          {{#if home}}
              {{>video}}
          {{/if}}

          <header>
              <div id="masthead">
                  <div class="container">
                      <div class="col-sm-6 col-sm-offset-3">
                          <div class="left-nav">
                              <a href="#"><h3>Featured Vendors</h3></a>
                          </div>
                          <a href="/" class="logo-area">
                              <img class = "logo" src="/images/logo.png" alt="">
                          </a>
                          <div class="right-nav">
                              <a href="#"><h3>Vendor List</h3></a>
                          </div>
                      </div>
                      <div class="col-sm-3">
                          <div class="user-area">
                              {{#if user}}
                                  {{#if admin}}
                                      <a href="/admin" class="admin-dashboard">Admin</a>
                                      <a href="/users/logout" class="log-out">Log Out</a>
                                  {{else}}
                                      <a href="/profile/{{#each user}}{{this.user_id}}{{/each}}" class="my-profile">My Profile</a>
                                      <a href="/users/logout" class="log-out">Log Out</a>
                                  {{/if}}
                              {{else}}
                                  <a href="/users/login" class="sign-in">Sign In</a>
                                  <a href="/users/register" class="sign-up">Sign Up</a>
                              {{/if}}
                          </div>
                      </div>

                  </div>
              </div>
          </header>


        {{{body}}}

          <div class="modal fade" id="message-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content failure">
                      <div class="form-response"></div>
                      <div class="row">
                          <div class="col-sm-offset-3 col-sm-6">
                              <button id="dismiss-button" type="button" class="btn btn-secondary notdisplay" data-dismiss="modal">Dismiss</button>
                              <a class="view-button" href=""><button type="button" class="btn btn-secondary"></button></a>
                              <a class="gallery-button notdisplay" href=""><button type="button" class="btn btn-secondary"></button></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <div class="modal fade" id="login-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-md">
                  <div class="modal-content failure">
                      <div class="form-response"></div>
                      <div class="row">
                          <div class="col-sm-offset-3 col-sm-6">
                              <button id="dismiss-button" type="button" class="btn btn-secondary notdisplay" data-dismiss="modal">Dismiss</button>
                              <a class="view-button" href=""><button type="button" class="btn btn-secondary"></button></a>
                              <a class="gallery-button notdisplay" href=""><button type="button" class="btn btn-secondary"></button></a>
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          <footer id="mastfooter">
              <div class="main-footer">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-4">
                              <div class="footer-logo">
                                  <img class = "logo" src="/images/logo-white.png" alt="">
                              </div>
                          </div>
                          <div class="col-sm-2">
                              <a href="/vendor/add" class="button-light addVendor">ADD NEW VENDOR</a>
                          </div>
                          <div class="col-sm-2">

                          </div>
                          <div class="col-sm-4">
                              <div class="social-media">
                                  <div class="social-button">
                                      <a class="socicon-facebook" href=""></a>
                                  </div>
                                  <div class="social-button">
                                      <a class="socicon-twitter" href=""></a>
                                  </div>
                                  <div class="social-button">
                                      <a class="socicon-instagram ghost" href=""></a>
                                      <a class="socicon-instagram" href=""></a>
                                  </div>
                                  <div class="social-button">
                                      <a class="socicon-pinterest" href=""></a>
                                  </div>
                              </div>
                          </div>
                      </div>

                  </div>
              </div>
              <div class="sub-footer">
                  <div class="container">
                      <div class="row">
                          <div class="col-sm-offset-3 col-sm-2">
                              <a href="#">Privacy Policy</a>
                          </div>
                          <div class="col-sm-2">
                              <a href="#">Terms of Use</a>
                          </div>
                          <div class="col-sm-2">
                              <a href="#">Copyright 2016</a>
                          </div>
                      </div>



                  </div>
              </div>
          </footer>
      <!--</div>-->

  </body>

</html>
