<div id="vendor-edit">
    <div class="container">

        <h3>{{vendor.vendor_name}} Edit Page</h3>

        <form id="add-form" class="add-vendor" enctype="multipart/form-data" action="/vendor/update" method = "post">
            <div class="row">

                <div class="col-sm-6">
                    <input type="hidden" name="vendor_id" value="{{vendor.vendor_id}}">

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="vendor_name">Vendor Name</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="vendor_name" value="{{vendor.vendor_name}}" required><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="category">Category</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="category" id = "category" data-placeholder="Choose Categories" multiple required>
                                {{#each category}}
                                    <option value="{{this.category_id}}" {{#if this.selected}}selected{{/if}}>{{this.category_name}}</option>
                                {{/each}}
                            </select><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="address">Address 1</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="address" value="{{vendor.address}}" required><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="address_2">Address 2</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="address_2" value="{{vendor.address_2}}"><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="city">City</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="city" class = "datePicker" value="{{vendor.city}}" required><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="province">Province</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="province" value="{{vendor.province}}"><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="postal_code">Postal Code</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="postal_code" value="{{vendor.postal_code}}"><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="phone_number">Phone Number</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="phone_number" value="{{vendor.phone_number}}"><br>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="price">Price</label>
                        </div>
                        <div class="col-sm-9">
                            <select name="price" id="price">
                                <option value="$" {{#if vendor.onedollar}}selected{{/if}}>$</option>
                                <option value="$$" {{#if vendor.twodollar}}selected{{/if}}>$$</option>
                                <option value="$$$" {{#if vendor.threedollar}}selected{{/if}}>$$$</option>
                                <option value="$$$$" {{#if vendor.fourdollar}}selected{{/if}}>$$$$</option>
                            </select>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-3">
                            <label class = "form-label" for="url">Vendor Website</label>
                        </div>
                        <div class="col-sm-9">
                            <input type="text" name="url" value="{{vendor.url}}"><br>
                        </div>
                    </div>
                </div>


                <div class="col-sm-6">
                    <!--<input type="hidden" name="feat_img" value="{{vendor.featured_image}}">-->
                    <label class = "form-label" for="featured_image">Featured Image</label>
                    <input class="is-file" type="file" name="featured_image">

                    <label class = "form-label" for="description">Description</label>
                    <textarea name="description" placeholder = "Vendor Description" required>{{vendor.description}}</textarea>
                </div>
            </div>

            <div class="row submit-area">
                <div class="col-sm-offset-3 col-sm-3">
                    <input class="add-submit button-light" type="submit" value="Update Vendor">
                </div>
                <div class="col-sm-2">
                    <a class="button-light" id="edit-gallery" href="/vendor/{{vendor.vendor_url}}/gallery">Edit Gallery</a>
                </div>
                <div class="col-sm-2">
                    <button id="delete-modal-button" class="delete-submit button-dark" >Delete Vendor</button>
                </div>
            </div>

        </form>

        <form id = "delete-form" class = "delete-vendor" action="/vendor/delete" method = "post">
            <input type="hidden" name="vendor_id" value="{{vendor.vendor_id}}">
            <div class="modal fade" id="delete-modal" data-backdrop="static" data-keyboard="false" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-md">
                    <div class="modal-content">
                        <p>Are you sure you want to delete {{vendor.vendor_name}} from the database?</p>
                        <div class="row">
                            <div class="col-sm-6"><input id="delete-modal-confirm" type="submit" value="Delete Vendor"></div>
                            <div class="col-sm-6"><button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>